.cartPageCenter--container {
  display: flex;
  width: 100%;
  max-width: 1170px;
  justify-content: center;
  margin: 2rem auto;
}

.cartItem--container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  padding: 1rem;
}
.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.itemImage-container {
  width: 100px;
  height: 100px;
}
.itemImage-container img {
  width: 100%;
  height: auto;
}

.cartSummary--container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  height: 16rem;
  margin-left: 3rem;
  padding: 1rem;
}
.summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.net {
  border-top: 1px solid #ccc;
  margin-top: 5px;
}

.btnGroup {
  outline: none;
  color: #6d28d9;
  border: 1px solid #6d28d9;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
}

.bt1 {
  border-radius: 5px 0 0 5px;
}
.bt3 {
  border-radius: 0 5px 5px 0;
}
.bt2 {
  border-left: 0;
  border-right: 0;
}

.linkbtn-checkout {
  width: 100%;
}
.linkbtn-checkout button {
  width: 100%;
}
