footer {
  background-color: #ccc;
  height: 70px;
  width: 100%;
  margin-top: 20px;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1170px;
  height: 100%;
}
